<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<header>
  <div class="container">
      <div class="brand">

          <div class="brand-left">
              <div class="content pt-5">
                  <div class="title mt-3">
                      <h1>Gbah</h1>
                      <h2>Jean Noé</h2>
                  </div>

                  <div class="paragraph mt-2">
                      <p class="text-dark">
                          Développeur FULL-STACK<br>
                          C++, Python, PHP<br>
                          HTML, XML, YML, SCSS, CSS <br> 
                          JavaScript, TypeScript, Angular, React, Symphony, VueJs.
                      </p>
                  </div>

                  <div class="hire-me mt-5">
                      <a routerLink="Contact">
                          <button class="button">
                              Contactez moi
                          </button>
                      </a>
                  </div>

              </div>
          </div>

          <div class="brand-right ">

              <div class="img-header">
                  <img src="assets/images/IMG_20210120_145840.jpg" alt="" class="brand--image">
              </div>
          </div>
      </div>
  </div>
</header>

<main>
  <section class="partnerss">
      <div class="container">
          <div class="partners">
              <img src="assets/images/eisine_universite_300.jpg" alt="img">
              <img src="assets/images/téléchargement (2).jpg" alt="img">
              <img src="assets/images/eisine_universite_300.jpg" alt="img">
              <img src="assets/images/téléchargement (2).jpg" alt="img">
          </div>
      </div>
  </section>


  <section class="experience">
      <div class="container">
          <div class="experience--part">
              <div class="experience--part__left">
                  <h1>B+3</h1>
                  <p>Mon parcour postbac</p>
              </div>

              <div class="experience--part__right">
                  <h3>Mes Formations</h3>
                  <div class="experience--part__rightCards">
                      <div class="experience--part__rightCard">
                          <div>

                              <i class="fas fa-code"></i>
                              <h4>
                                  Conception Rédaction et Réalisation Web à 
                                  Reims
                              </h4>

                            
                          </div>
                      </div>
                      <div class="experience--part__rightCard">
                          <div>
                              <i class="fas fa-robot"></i>
                              <h4>Systèmes Numériques option Informatiques <br>
                                  et Réseaux
                                  à Nancy
                              </h4>
                              
                          </div>
                      </div>
                  
                      <div class="experience--part__rightCard">
                          <div>
                              <i class="fas fa-square-root-alt"></i>
                              <h4>Mathématiques et Informatiques à Abidjan</h4>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <div class="container mt-5">
  
      <section class="work">
          <div class="container">
              <div class="work--title">
                  <div>
                      <h3>Quelques projets réalisés</h3>
                  </div>

                  <div>
                      <p>Projet en cours de réalisation <br> Création d'un carnet de suivie 
                          virtuel pour étudiant(s)(es) ingénieurs de L'EISINE </p>

                      <a routerLink="Projets">Explore more &nbsp;<i class="fas fa-arrow-right"></i></a>
                  </div>
              </div>
          
              <div class="work--cards">
                  <div class="work--card">
                      <img src="assets/images/image1-hover.jpeg" alt="image">
                  </div>

                  <div class="work--card">
                      <img src="assets/images/image2-hover.webp" alt="image">
                  </div>

                  <div class="work--card">
                      <img src="assets/images/image3-hover.jpg" alt="image">
                  </div>

                  <div class="work--card">
                      <img src="assets/images/image4-hover.jpeg" alt="image">
                  </div>

                  <div class="work--card">
                      <img src="assets/images/image5-hover.jpeg" alt="image">
                  </div>

                  <div class="work--card">
                      <img src="assets/images/image6-hover.jpg" alt="image">
                  </div>
              </div>
          </div>
      </section>
  
  </div>

  <div class="container waiting-bloc-text">
      <div class="row">

          <div class="col-sm-5 text-center">
              <img class="waiting-cover" src="assets/images/IMG-20211110-WA0009.jpeg" alt="cover" style="border-radius: 8px;">
          </div>

          <div class="col-sm-7">
              <h1 class="waiting-text-header text-violet">Tout savoir sur moi</h1>
              <p class="mt-3 text-dark"> <em>Etudiant developpeur web</em> à l'Université Champagne-Arderne Reims
              je suis un jeune passionné de l'informatique en occurence de la programmation. Ayant un baccalauréat S 
              en poche, j'ai debuté mes premières années universitaires en Mathématiques et Informatiques à l'Université
              principale d'Abidjan Côte D'Ivoire. Ensuite j'ai opté pour l'informatique et aujourd'hui je 
              suis dans la programmation web et la communication digitale. Au cour de mon parcour j'ai découvert et acquis
              des compétences que j'ai sû mettre à profit en stage, comme en projet de fin d'étude.  <br>
              Je suis dynamique, rigoureux, travailleur sérieux et appliqué. J'ai aucun mal à me fait des amis, à bosser en
              équipe commme en autonomie. <br>
              Je suis aussi passionné de sport (football, basketball et natation), quand je ne suis pas suis mon ordi
              je suis en salle de sport ou sur le terrain avec les copins.
              </p>
          </div>
      </div>
  </div>

  <section class="testimonials" id="contact">
      <div class="container">
          <div class="testimonials--card">
              <div class="illus">
                  <i class="fas fa-quote-right"></i>
                  <img src="assets/images/prof1.jpeg" alt="image">
              </div>
              <div class="descrip">
                  <p>&#10077; Pour l'avoir eu comme étudiant, je peux dire que jean-noé est un étudiant travailleur
                      et conscientieux.
                      Il est tout aussi compétent que discipliné !
                  </p>

                  <span>Doyen du departement d'informatique à l'Université d'Abidjan </span>
              </div>
          </div>

          <div class="testimonials--card">
              <div class="illus">
                  <i class="fas fa-quote-right"></i>
                  <img src="assets/images/theo_rayer.png" alt="image">
              </div>
              <div class="descrip">
                  <p>&#10077; Etudiant très agréable, sérieux et motivé, attentif en cour 
                      et il répond présent quand on a besion de lui.
                  </p>

                  <span>
                      Théo Rayer
                  </span>
              </div>
          </div>

          <div class="testimonials--card">
              <div class="illus">
                  <i class="fas fa-quote-right"></i>
                  <img src="assets/images/Nomel.jpg" alt="image">
              </div>
              <div class="descrip">
                  <p>&#10077; Pour avoir étudié avec jean-noé, Je peux vous garantir quand il s'agit de travail
                      il ne se laisse pas distraire. Il est travailleur mais aussi amusant.
                  </p>

                  <span>Nomel Mathlon</span>
              </div>
          </div>
      </div>
  </section>


</main>

<footer id="footer">
  <div class="container">
      <div class="footer--left">
          <h2>Let's connect</h2>
          <p>Je suis présent sur les Réseaux sociaux</p>

          <div class="icons">
              <a href="https://www.facebook.com/gbahjeannoe/">
                  <i class="fab fa-facebook"></i>
              </a>
              <a href="https://www.linkedin.com/in/jean-noe-gbah-091962206">
                  <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://www.instagram.com/jeangbah/">
                  <i class="fab fa-instagram"></i>
              </a>
          </div>

          <h4><a href="">gbahnoe@gmail.com &nbsp;<i class="fas fa-arrow-right"></i></a></h4>
      </div>
  
      <div class="footer--right">
          <h2>Envoyez-moi un message et faisons quelque chose ensemble</h2>

          <form routerLink="">
              <input type="text" placeholder="Votre Nom">
              <input type="text" placeholder="Votre email">
              <input type="text" placeholder="Details du projet">
              <button type="submit" class="button">Envoyer</button>
          </form>
      </div>
  </div>
</footer>
<script src="https://unpkg.com/scrollreveal"></script>

<script>
  ScrollReveal().reveal('.work--cards');
  ScrollReveal().reveal('.brand');
  ScrollReveal().reveal('.testimonials');
  ScrollReveal().reveal('.experience');
  ScrollReveal().reveal('.experience--2');
</script>