
<div class="projets">
    <div *ngFor="let portfolio of monPortfolio" [ngClass]="getPortfolioClass(portfolio)">
        <article>
            <h1>{{portfolio.titre}}</h1>
            <h2>{{portfolio.description}}</h2>
            <p>Mis en ligne le : {{portfolio.createPortfolio}}</p>
            <p>{{portfolio.resume}}</p>
        </article>
   
        <article>
            <div class="image">
                <img [src]="portfolio.imageUrl" [alt]="portfolio.titre" class="image1">
            </div>
        </article>
    </div>
</div>